@use "@/assets/styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

html,
body {
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: $text-prim;
    font-optical-sizing: auto;
    font-family: "Lexend", sans-serif;
}

input,
textarea,
button,
select {
    color: $text-prim;
    font-family: "Lexend", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
    background-color: $system-prim;
}
