$text-prim: rgb(69, 69, 69);
$text-sec: rgb(255, 255, 255);

$system-prim: rgb(234, 234, 234);
$system-sec: rgb(185, 185, 185);
$system-tert: rgb(74, 74, 74);

$accept-prim: green;
$accept-sec: rgb(0, 172, 0);

$danger-prim: rgb(213, 0, 0);
$danger-sec: red;
$danger-tert: rgb(255, 159, 159);
